
		*{
			padding: 0;
			margin: 0;
			font-family: "微软雅黑"
		}
		#header{
			position: relative;
			background-color: #000;
			height: 60px;
			line-height: 60px;

		}
		#header img{
			width: 40px;
			height: 40px;
			border: 1px solid #fff;
			position: absolute;
			left: 60px;
			top:10px;
			
		}
		#header h1{
			position: absolute;
			left: 120px;
			color: white
			
		}
		#header ul{
			float: right;
			list-style: none;
		}
		#header ul li{
			float: left;
			margin-right: 10px;
		}
		#mainbody{
			
			background: #808080;
			border: 1px solid #000;

		}
		.para {
			background: #fff;
			margin: 20px auto;
			width: 1802px;
			border: 1px solid #000;
			padding: 20px;
			box-shadow: 2px 2px #606060;
		}

		.para p{
			text-indent: 2em;
		}
		.para ol{
			margin-left: 20px;
		}
		#pics li{
			list-style: none;
			width: 98px;
			height: 118px;
			border: 1px solid #000;
			margin-top: 10px;
		}
		#pics li img{
			display: block;
			width: 80px;
			height: 80px;
			margin: 8px  auto;
		}
		#pics  li span{
			display: block;
			width: 70px;
			margin:5px auto; 
			
		}
	/*	.para2 ul{
			list-style: none;
			}
		.para2 ul li{
			width: 58px;
			height: 78px;
			border: 1px solid #000;
		}*/
			
	
		table{
			width: 100%
		}
		th{
			background-color: #000;
			color: #fff;
		}
		
		#footer{
			height: 60px;
			line-height: 60px;
			background-color: #000;
			color: #fff;
			text-align: center;
		}
		.right{
			text-align: right;
		}
		.button{
			display: block;
			width: 40px;
			height: 20px;
			color: #fff;
		}
		.interact{
			position: relative;
		}
		.interact  h2{
			border-left: 2px solid grey;
			padding-left: 10px;
		}
		#submit{
			background:#00f;
			position: absolute;
			left: 536px;
			top:370px;
		}
		#reset{
			background:#f00;
			position: absolute;
			left: 586px;
			top:370px;
		}
